.header {
    height: 700px;
    background: url(../img/Rectangle\ 9.png) no-repeat 50%/cover;
    position: relative;

    &__navbar {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 339px;
        margin-top: 11px;
        &-item {
            color: white;
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.2px;
        }
        &-link {
            color: white;
            text-decoration: none;
            margin-left: 21px;
            font-weight: 400;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.2px;
        }
        &-logo {
            display: flex;
            margin-top: -16px;
            margin-left: 25px;
        }
    }

    &__social {
        position: absolute;
        right: 0;
        top: 10px;
        a {
            text-decoration: none;
        }
    }
    &__title {
        position: absolute;
        margin-top: 250px;
        font-weight: 700;
        font-size: 74px;
        line-height: 84px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__subtitle {
        position: absolute;
        margin-top: 455px;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.2px;
        color: white;
    }
    &__btn {
        cursor: pointer;
        margin-top: 570px;
        width: 236px;
        height: 52px;
        background: #2091F9;
        border-radius: 35px;
        border: none;
    
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

}

.header_block {
    display: flex;
    justify-content: center;
}

.header_text {
    display: flex;
    justify-content: center;
}

nav {
    position: fixed;
    display: flex;
    height: 51px;
    z-index: 2;
    width: 950px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
}








