@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .contact {
        &__wrapper {
            right: 0;
            margin-right: 85px;
        }
    }

    .footer {
        &__inner {
            padding: 100px 70px;
        }
    }

    .hamburger {
        display: none;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .hamburger {
        display: none;
    }

    .features {
        &__img{
            img {
                width: 992px;
            }
        }
    }

    .fastest {
        &__block-title {
            font-size: 40px;
        }
        &__block-subtitle {
            font-size: 20px;
        }
        &__img {
            display: flex;
            justify-content: flex-end;
            margin-top: -339px;
            &-mac {
                width: 560px;
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    .contact {
        &__wrapper {
            right: 0;
            margin-right: 30px;
            width: 500px;
        }
        &__map {
            right: 0;
            margin-right: 23px;
        }
        &__social {
            right: 430px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav {
        width: 768px;
    }
    .header {
        height: 600px;
        &__navbar {
            width: 294px;
            &-item {
                margin-left: 15px;
            }
            &-link {
                font-size: 12px;
                margin-left: 0px;
            }
            &-logo {
                display: flex;
                width: 165px;
            }
        }
        &__social {
            right: 0;
        }
        &__title {
            margin-top: 160px;
        }
        &__subtitle {
            margin-top: 366px;
        }
        &__btn {
            margin-top: 490px;
        }
        &__sidebar {
            grid-template-columns: repeat(3,240px);
        }
    }

    .hamburger {
        display: none;
    }

    .features {
        height: 980px;
        &__img{
            img {
                width: 768px;
            }
        }
    }

    .fastest {
        &__block {
            grid-template-columns: repeat(2,384px);
            &-title {
                font-size: 40px;
                text-align: center;
                width: 395px;
            }  
            &-subtitle {
                font-size: 20px;
                text-align: center;
            }  
            &_btn {
                &-btn {
                    display: block;
                    margin: 35px auto;
                }
            }
            &-img {
                &-mac {
                    width: 382px;
                }
            }
        }

    }

    .light {
        margin-top: 50px;
        &__block {
            display: grid;
            grid-template-columns: repeat(2,384px);
            &-action {
                width: 290px;
                &-email {
                    width: 220px;
                }
            }
            &-img {
                &-undraw {
                    width: 374px;
                }
            }
        }
    }

    .partners {
        height: 840px;
        &__wrapper {
            grid-template-columns: repeat(3,227px);
            justify-items: center;
            justify-content: center;
        }
    }

    .testi {
        margin-top: 70px;
        &__descr {
            font-size: 25px;
        }
    }

    .price {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3,256px);
            justify-content: center;
            justify-items: center;
            gap: 0;
        }
        &__card {
            width: 240px;
            &_long {
                width: 240px;
            }
        }
    }

    .contact {
        &__wrapper {
            right: 0;
            margin-right: 30px;
            width: 500px;
        }
        &__map {
            right: 0;
            margin-right: 23px;
        }
        &__social {
            right: 430px;
        }
    }

    .footer {
        &__inner {
            flex-direction: column;
            padding: 40px 30px;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            min-width: 29%;
            margin: 0 30px 30px;
        }
        &__info {
            padding: 30px 0 20px;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    nav {
        width: 576px;
    }
    .header {
        height: 600px;
        &__navbar {
            display: none;
            &-item {
                margin-left: 7px;
            }
            &-link {
                font-size: 12px;
                margin-left: 0px;
            }
            &-logo {
                margin-top: -12px;
                width: 200px;
            }
        }
        &__social {
            display: none;
        }
        &__title {
            font-size: 55px;
            margin-top: 160px;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 366px;
        }
        &__btn {
            margin-top: 490px;
        }
        &__sidebar {
            grid-template-columns: repeat(2, 290px);
            justify-items: stretch;
        }
    }

    .features {
        height: 835px;
        &__img{
            img {
                margin-top: 210px;
                width: 576px;
            }
        }
        &__wrappers {
            grid-template-columns: repeat(3,190px);
        }
        &__play-button {
            width: 150px;
            height: 150px;
            top: 150px;
        }
    }

    .fastest {
        height: 600px;
        &__block {
            grid-template-columns: 384px;
            &-title {
                font-size: 40px;
                text-align: center;
                width: 395px;
            }  
            &-subtitle {
                font-size: 20px;
                text-align: center;
            }  
            &_btn {
                &-btn {
                    display: block;
                    margin: 35px auto;
                }
            }
            &-img {
                &-mac {
                    margin-top: 10px;
                    width: 382px;
                }
            }
        }

    }

    .light {
        margin-top: 50px;
        &__block {
            display: grid;
            grid-template-columns: 384px;
            &-head {
                margin: 0 auto;
                text-align: center;
            }
            &-action {
                width: 290px;
                &-email {
                    width: 220px;
                }
            }
            &-img {
                &-undraw {
                    margin-top: 10px;
                    width: 374px;
                }
            }
        }
    }

    .partners {
        margin-top: 340px;
        height: 955px;
        &__wrapper {
            grid-template-columns: repeat(2,227px);
            justify-items: center;
            justify-content: center;
            margin-top: 35px;
        }
    }

    .testi {
        &__descr {
            font-size: 25px;
        }
    }

    .price {
        height: 2245px;
        &__wrapper {
            display: grid;
            grid-template-columns: 256px;
            justify-content: center;
            justify-items: center;
            gap: 0;
        }
        &__card {
            width: 270px;
            &_long {
                width: 270px;
            }
        }
    }

    .footer {
        &__nav {
            margin: 0 60px;
            flex-wrap: nowrap;
        }
        &__item {
            width: 29%;
        }
    }
}

@media screen and (min-width: 426px) and (max-width: 575px) {
    nav {
        width: 426px;
    }
    .header {
        height: 600px;
        &__navbar {
            display: none;
            &-item {
                margin-left: 7px;
            }
            &-link {
                font-size: 12px;
                margin-left: 0px;
            }
        }
        &__social {
            display: none;
        }
        &__title {
            font-size: 48px;
            margin-top: 160px;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 366px;
        }
        &__btn {
            margin-top: 480px;
        }
        &__sidebar {
            grid-template-columns: repeat(2, 235px);
            justify-items: stretch;
        }
    }

    .features {
        height: 1175px;
        &__img{
            img {
                margin-top: 140px;
                width: 426px;
            }
        }
        &__wrappers {
            grid-template-columns: 235px;
            row-gap: 25px;
            justify-content: center;
        }
        &__play-button {
            width: 150px;
            height: 150px;
            top: 68px;
        }
    }

    .fastest {
        height: 600px;
        &__block {
            grid-template-columns: 384px;
            &-title {
                font-size: 40px;
                text-align: center;
                width: 395px;
            }  
            &-subtitle {
                font-size: 20px;
                text-align: center;
            }  
            &_btn {
                &-btn {
                    display: block;
                    margin: 35px auto;
                }
            }
            &-img {
                &-mac {
                    margin-top: 10px;
                    width: 382px;
                }
            }
        }

    }

    .light {
        margin-top: 50px;
        &__block {
            display: grid;
            grid-template-columns: 384px;
            &-head {
                margin: 0 auto;
                text-align: center;
            }
            &-action {
                width: 290px;
                &-email {
                    width: 220px;
                }
            }
            &-img {
                &-undraw {
                    margin-top: 10px;
                    width: 374px;
                }
            }
        }
    }

    .partners {
        height: 1615px;
        margin-top: 340px;
        &__text {
            &-subtitle {
                font-size: 20px;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(1,227px);
            justify-items: center;
            justify-content: center;
            margin-top: 35px;
        }
    }

    .testi {
        height: 650px;
        &__descr {
            font-size: 25px;
        }
    }

    .price {
        height: 2285px;
        &__wrapper {
            display: grid;
            grid-template-columns: 256px;
            justify-content: center;
            justify-items: center;
            gap: 0;
        }
        &__card {
            width: 270px;
            &_long {
                width: 270px;
            }
        }
    }

    .footer {
        &__nav {
            margin: 0 auto;
            flex-direction: column;
        }
        
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    nav {
        width: 376px;
    }
    .header {
        height: 600px;
        &__navbar {
            display: none;
        }
        &__social {
            display: none;
        }
        &__title {
            font-size: 35px;
            margin-top: 160px;
            line-height: 45px;
        }
        &__subtitle {
            font-size: 19px;
            margin-top: 310px;
            line-height: 28px;
        }
        &__btn {
            margin-top: 480px;
        }
        &__sidebar {
            grid-template-columns: repeat(2, 210px);
            justify-items: stretch;
        }
    }

    .features {
        height: 1175px;
        &__img{
            img {
                margin-top: 140px;
                width: 376px;
            }
        }
        &__wrappers {
            grid-template-columns: 235px;
            row-gap: 25px;
            justify-content: center;
        }
        &__play-button {
            width: 100px;
            height: 100px;
            top: 85px;
        }
    }

    .fastest {
        height: 600px;
        &__block {
            grid-template-columns: 375px;
            &-title {
                font-size: 40px;
                text-align: center;
                width: 395px;
            }  
            &-subtitle {
                font-size: 20px;
                text-align: center;
            }  
            &_btn {
                &-btn {
                    display: block;
                    margin: 35px auto;
                }
            }
            &-img {
                &-mac {
                    margin-top: 10px;
                    width: 375px;
                }
            }
        }

    }

    .light {
        margin-top: 50px;
        &__block {
            display: grid;
            grid-template-columns: 375px;
            &-head {
                margin: 0 auto;
                text-align: center;
            }
            &-action {
                width: 290px;
                &-email {
                    width: 220px;
                }
            }
            &-img {
                &-undraw {
                    margin-top: 10px;
                    width: 374px;
                }
            }
        }
    }

    .partners {
        height: 1615px;
        margin-top: 340px;
        &__text {
            &-subtitle {
                font-size: 20px;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(1,227px);
            justify-items: center;
            justify-content: center;
            margin-top: 35px;
        }
    }

    .testi {
        height: 650px;
        &__descr {
            font-size: 19px;
        }
    }

    .price {
        height: 2325px;
        &__subtitle {
            font-size: 21px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 256px;
            justify-content: center;
            justify-items: center;
            gap: 0;
        }
        &__card {
            width: 270px;
            &_long {
                width: 270px;
            }
        }
    }

    .footer {
        &__nav {
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    nav {
        width: 320px;
    }
    span {
        display: none;
    }
    .header {
        height: 600px;
        &__navbar {
            display: none;
        }
        &__social {
            display: none;
        }
        &__title {
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            margin-top: 150px;
            line-height: 45px;
        }
        &__subtitle {
            font-size: 27px;
            margin-top: 334px;
            line-height: 34px;
            font-weight: 100;
        }
        &__btn {
            margin-top: 480px;
        }
        &__sidebar {
            grid-template-columns: repeat(2, 185px);
            justify-items: stretch;
        }
    }

    .menu {
        &__block {
            width: 200px;   
        }
    }

    .features {
        height: 1175px;
        &__img{
            img {
                margin-top: 140px;
                width: 320px;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__wrappers {
            grid-template-columns: 235px;
            row-gap: 25px;
            justify-content: center;
        }
        &__play-button {
            width: 100px;
            height: 100px;
            top: 85px;
        }
    }

    .fastest {
        height: 600px;
        &__block {
            grid-template-columns: 320px;
            &_head {
                &-title {
                    font-size: 40px;
                    text-align: center;
                }  
                &-subtitle {
                    font-size: 20px;
                    text-align: center;
                }  
                &_btn {
                    &-btn {
                        display: block;
                        margin: 35px auto;
                    }
                }
            }
            &-img {
                &-mac {
                    margin-top: 10px;
                    width: 320px;
                }
            }
        }

    }

    .light {
        margin-top: 50px;
        &__block {
            display: grid;
            grid-template-columns: 320px;
            &-head {
                margin: 0 auto;
                text-align: center;
            }
            &-action {
                width: 290px;
                &-email {
                    width: 220px;
                }
            }
            &-img {
                &-undraw {
                    margin-top: 10px;
                    width: 320px;
                }
            }
        }
    }

    .partners {
        height: 1615px;
        margin-top: 340px;
        &__text {
            &-subtitle {
                font-size: 15px;
            }
        }
        &__wrapper {
            grid-template-columns: repeat(1,227px);
            justify-items: center;
            justify-content: center;
            margin-top: 35px;
        }
    }

    .testi {
        height: 650px;
        &__descr {
            font-size: 25px;
        }
    }

    .price {
        height: 2325px;
        &__wrapper {
            display: grid;
            grid-template-columns: 256px;
            justify-content: center;
            justify-items: center;
            gap: 0;
        }
        &__card {
            width: 270px;
            &_long {
                width: 270px;
            }
        }
    }

    .footer {
        &__nav {
            margin: 0 auto;
        }
    }
}